.home-container {
  height: calc(90vh - 1px);
}

.card-hook-container {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 100%;
  align-items: center;
}

.home-footer {
  height: 20%;
  border-top: 1px solid gray;
  box-shadow: 0px -5px 10px gray;
}
