.canvas-container {
  height: 110px;
  width: 80%;
  border: 2px solid gray;
  position: relative;
  display: flex;
}

.browser-container {
  width: 50%;
  height: 100%;
  z-index: 1;
  overflow:hidden;
}

.browser-text {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow:hidden;
}

.console-container {
  width: 50%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  font-size: 20px;
}

.browser-wave {
  content: "";
  position: absolute;
  background: lightblue;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: 0;
  opacity: 0.5;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.render-effect-btn-container {
  display: flex;
}
